:root{
    --primary-color: rgba(21, 21, 21, 0.24);
    --second-color: #5ddac7;
    --black--color: #151515;
    --error-color: #e50000;
}

.header{
    display: flex;
    justify-content: center;
    background-color: var(--black--color);
    gap: 30px;
    padding: 15px;
}

.header a{
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 3px;
    transition: .2s ease-in;
}

.header a:hover{
    color: var(--black--color);
    background-color: var(--second-color);
}

.logo{
    color: var(--second-color);
    font-size: 30px;
    font-weight: 700;
    /*text-shadow: 0 0 3px var(--second-color);*/
    margin-top: 5px;
}