{% extends 'forum/base.html' %}

{% block title %}Change comment{% endblock %}

{% block content %}


    <div class="container " style="width: fit-content; margin-top: 200px">
        <h2>Edit Comment</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.text }}
            </div>
            <button type="submit" class="btn">Save Changes</button>
            <a href="{% url 'forum:profile' %}" class="btn">Cancel</a>
        </form>


    </div>
{% endblock %}
